<script src="https://unpkg.com/mermaid@8.9.3/dist/mermaid.min.js"></script>
<!--
<script>
  $(document).ready(function () {
    mermaid.initialize({
      startOnLoad:true,
      theme: "default",
    });
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  });
</script>
-->

<script>
document.querySelectorAll("pre.mermaid, pre>code.language-mermaid").forEach($el => {
  if ($el.tagName === "CODE")
    $el = $el.parentElement
  $el.outerHTML = `
    <div class="mermaid">${$el.textContent}</div>
    <details>
      <summary>Diagram source</summary>
      <pre>${$el.textContent}</pre>
    </details>
  `
})
</script>
